<script setup>
import { RouterLink } from 'vue-router'
</script>

<template>
  <h1>
    Pentru Pacienti
    <RouterLink to='/' class="hover:text-blue ">Acasa</RouterLink>
  </h1>
</template>


<style scoped>

</style>