<script setup>
  import HeroComponent from '@/components/HeroComponent.vue'
  import BanerComponent from '@/components/BanerComponent.vue'
  import ServicesComponent from '@/components/ServicesComponent.vue'
  import FooterBanerComponent from '@/components/FooterBanerComponent.vue'
</script>


<template>
  <HeroComponent/>
  <BanerComponent />
  <ServicesComponent />
  <FooterBanerComponent />
</template>


<style scoped>

</style>