<script setup>
  import ServicesImg from '@/components/ServicesImg.vue'
  import ServicesText from '@/components/ServicesText.vue'
  import TeamHeroComponent from '@/components/TeamHeroComponent.vue'
</script>

<template>
  <TeamHeroComponent />
  <div class="max-w-screen-xl mx-auto">

    <div class="flex flex-col xl:flex-row mb-10 mt-12">
      <ServicesImg :imgSrc="'/src/assets/img/Estetica-Dentara.jpg'" />
      <div class="ml-5 lg:ml-16 xl:w-2/4 ">
        <ServicesText
          textTitle="Doctor 1"
          textParagraph="Armonia dintre zambet si caracteristicile fetei reprezinta un criteriu obligatoriu in orice refacere a dintilor. Pe langa culoare si aspect, incadrarea in caracteristicile fetei este obligatorie pentru un rezultat optim. Opteaza pentru o igienizare dentara la clinica noastra din Cluj."
          textBtn="Vrea Un Zambet Mai Frumos"
        />
      </div>
    </div>

    <div class="flex flex-col-reverse xl:flex-row mb-10">
      <div class="ml-5 lg:ml-16 xl:ml-0 xl:w-2/4 xl:text-xl">
        <ServicesText
          textTitle="Doctor 2"
          textParagraph="Alinierea estetica a dintilor cu aparate aduce atat un beneficiu armoniei dento-faciale cat si functiei. Pacientii nostri se bucura atat de un zambet mai sanatos, dar si de o masticatie eficienta si lipsa durerilor articulare."
          textBtn="Afla mai multe"
        />
      </div>
      <ServicesImg :imgSrc="'/src/assets/img/Ortodontie.jpg'" />
    </div>

    <div class="flex flex-col xl:flex-row mb-10">
      <ServicesImg :imgSrc="'/src/assets/img/Stomatologie-Ped.jpg'" />
      <div class="ml-5 lg:ml-16 xl:w-2/4">
        <ServicesText
          textTitle="Doctor 3"
          textParagraph="Ingrijirea dintilor trebuie facuta inca de la aparitia dintilor de lapte. Dentistii nostri sunt pregatiti sa va ajute in urmarirea cresterii si dezvoltarii armonioase a dintilor copilului dumneavoastra."
          textBtn="Afla mai multe"
        />
      </div>
    </div>

    <div class="flex flex-col-reverse xl:flex-row mb-10">
      <div class="ml-5 lg:ml-16 xl:ml-0 xl:w-2/4">
        <ServicesText
          textTitle="Doctor 4"
          textParagraph="Implantul dentar vine in ajutorul pacientilor pentru a reface dantura si zambetul prin lucrari fixe sau ancorate pentru orice varsta. Specialistii nostri va vor ajuta zambiti cu incredere si sa mancati fara teama."
          textBtn="Afla mai multe"
        />
      </div>
      <ServicesImg :imgSrc="'/src/assets/img/Implantologie-Chirurgie.jpg'" />
    </div>

    <div class="flex flex-col xl:flex-row mb-10">
      <ServicesImg :imgSrc="'/src/assets/img/Endodontie.jpg'" />
      <div class="ml-5 lg:ml-16 xl:w-2/4">
        <ServicesText
          textTitle="Doctor 5"
          textParagraph="Cauza principala de prezentare in cabinetul dentar este infectia dintilor. Dentistii nostrii in endodontie sunt pregatiti sa salveze orice dinte pentru a mentine sanatatea dintilor dumneavoastra."
          textBtn="Afla mai multe"
        />
      </div>
    </div>
  </div>
</template>


<style scoped>

</style>