<template>
  <div class="md:flex md:justify-center bg-blue w-full py-9 text-center mb-16">
    <p class="lg:text-4xl text-3xl text-white lg:mr-36 sm:mr-16 md:mb-0 mb-3 font-rubik">
      Programeaza consultatia gratuita
    </p>
    <button class="text-blue lg:text-xl font-rubik bg-white lg:px-10 px-4 rounded-round hover:bg-green duration-700 hover:text-white" >CONTACTEAZA-NE</button>
  </div>

</template>