<template>
  <div class=" bg-green hover:bg-blue duration-700 hover:text-white text-center text-white py-9 mt-16 text-3xl">
    <p class="font-rubik">Vreau Consultanta Gratuita 0754 259 656</p>
  </div>
</template>