<template>
<div class="bg-black3 p-10">
  <div class="max-w-screen-xl mx-auto grid grid-cols-1 xl:grid-cols-2 gap-x-8 text-white">
    <div>
      <p class="w-11/12 mb-9 xl:mb-0">
        <b>Clinica stomatologica Prolident din Cluj-Napoca</b> a fost infiintata in anul 1996. Experienta echipei a fost mereu sustinuta de cea mai noua tehnologie din domeniu, in realizarea profesionista a tratamentelor. Intreaga gama de servicii stomatologice pe care clinica Prolident o ofera este adaptata necesitatilor fiecarui pacient, la cea mai buna calitate.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 text-center md:text-left">
      <div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="xl:w-14 md:w-12 w-9 m-auto md:m-0 text-blue " viewBox="0 0 20 20" fill="currentColor">
            <path d="M17.924 2.617a.997.997 0 00-.215-.322l-.004-.004A.997.997 0 0017 2h-4a1 1 0 100 2h1.586l-3.293 3.293a1 1 0 001.414 1.414L16 5.414V7a1 1 0 102 0V3a.997.997 0 00-.076-.383z" />
            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
          </svg>
          <p class="text-base font-semibold">
            Contacteaza-ne cu incredere
          </p>
          <p class="text-base font-semibold mb-4 xl:mb-0">
            0754259656
          </p>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="xl:w-14 md:w-12 w-9 m-auto md:m-0 text-blue" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
          <p class="text-base font-semibold">
            Fa o programare
          </p>
          <p class="text-base font-semibold">
            0754259656
          </p>
        </div>
      </div>
      <div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="xl:w-14 md:w-12 w-9 m-auto md:m-0  text-blue" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
          </svg>
          <p class="text-base font-semibold">
            Str. Memorandumului, nr. 8
          </p>
          <p class="text-base font-semibold mb-4 xl:mb-0">
            Cluj-Napoca, Cluj, Romania
          </p>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="xl:w-14 md:w-12 w-9 m-auto md:m-0  text-blue" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <p>
            Orar Clinica
          </p>
          <p class="text-base font-semibold">
            L-V: 8-19 | S: 9-13 | D: Inchis
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</template>