<script setup>

  import { RouterLink } from 'vue-router'

</script>

<template>
    <div class="flex max-w-screen-xl mx-auto mt-3 lg:justify-between justify-center font-rubik">
      <RouterLink to='/'>
        <img alt="Prolident" class="w-52 h-auto mt-3 lg:m-0 m-auto " src="@/assets/img/prolident-logo.svg"/>
      </RouterLink>
      <div class="lg:flex hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-blue mt-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.924 2.617a.997.997 0 00-.215-.322l-.004-.004A.997.997 0 0017 2h-4a1 1 0 100 2h1.586l-3.293 3.293a1 1 0 001.414 1.414L16 5.414V7a1 1 0 102 0V3a.997.997 0 00-.076-.383z" />
          <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
        </svg>
        <p class="mt-10 text-base font-semibold ml-2">
          0754-259-656
        </p>
      </div>
      <div class="lg:flex hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-blue mt-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
        </svg>
        <p class="mt-10 text-base font-semibold ml-2">
          Str. Memorandumului, nr. 8
        </p>
      </div>
    </div>
</template>