<template>
  <div class="
    w-full h-70 relative before:bg-hero-pattern before:content-[''] before:bg-fixed
    before:bg-center-right before:bg-no-repeat before:bg-cover  before:inset-0 before:absolute before:opacity-40 lg:before:opacity-100
  ">
    <div class="max-w-screen-xl m-auto">
      <h1 class="text-blue text-3xl lg:text-5xl absolute lg:left-5 left-5 lg:top-52 top-40 2xl:left-0">
        Clinica stomatologica Prolident
      </h1>
      <p class="absolute lg:top-72 top-60 text-xl left-5 2xl:left-0">De peste 20 de ani iti stam la dispozitie cu cei mai buni specialisti in stomatologie.
        <br>Colaboram impreuna pentru zambetul tau. Afla acum ce putem face pentru tine!
      </p>
    </div>
  </div>
</template>