
<template>
  <div class="min-h-full mt-2.5">
    <Disclosure as="nav" class="bg-gray" v-slot="{ open }">
      <div class="max-w-screen-xl m-auto">
        <div class="flex items-center h-menuheight justify-center lg:justify-start">
          <div class="flex items-center">
            <div class="hidden lg:block">
              <div class="flex items-baseline space-x-16 text-black text-lg font-normal xl:ml-0 ml-7">
                <!--<a v-for="item in navigation" :key="item.name" :href="item.href" :class="[item.current ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'px-3 py-2 rounded-md text-sm font-medium']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</a> -->
                <RouterLink to='/' class="hover:text-blue ">Acasa</RouterLink>
                <RouterLink to='/echipa' class="hover:text-blue">Echipa</RouterLink>
                <RouterLink to='/stomatologie-digitala' class="hover:text-blue">Digitaly Dentistry</RouterLink>
                <Menu as="div" class="relative inline-block text-left">
                  <div>
                    <MenuButton class="inline-flex justify-center w-full">
                      Servicii
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2.5 mt-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                    </MenuButton>
                  </div>
                  <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                    <MenuItems class="origin-top-right absolute right-0 mt-6 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                      <div class="py-1">
                        <MenuItem v-slot="{ active }">
                          <a href="#" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">Account settings</a>
                        </MenuItem>
                        <MenuItem v-slot="{ active }">
                          <a href="#" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">Support</a>
                        </MenuItem>
                        <MenuItem v-slot="{ active }">
                          <a href="#" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">License</a>
                        </MenuItem>
                        <form method="POST" action="#">
                          <MenuItem v-slot="{ active }">
                            <button type="submit" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block w-full text-left px-4 py-2 text-sm']">Sign out</button>
                          </MenuItem>
                        </form>
                      </div>
                    </MenuItems>
                  </transition>
                </Menu>
                <RouterLink to='/pentru-pacienti' class="hover:text-blue">Pentru pacienti</RouterLink>
                <RouterLink to='/contact' class="hover:text-blue">Contact</RouterLink>
                <RouterLink to='/urgente' class="hover:text-blue">Urgente</RouterLink>
              </div>
            </div>
          </div>

          <div class="-mr-2 flex lg:hidden">
            <!-- Mobile menu button -->
            <DisclosureButton class="bg-gray-800 inline-flex items-center justify-center p-2 text-gray-400 hover:text-white hover:bg-gray-700 ">
              <span class="sr-only">Open main menu</span>
              <MenuIcon v-if="!open" class="block h-10 w-10" aria-hidden="true" />
              <XIcon v-else class="block h-10 w-10" aria-hidden="true" />
            </DisclosureButton>
          </div>
        </div>
      </div>

      <DisclosurePanel class="lg:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <DisclosureButton v-for="item in navigation" :key="item.name" as="a" :href="item.href" :class="[item.current ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'block px-3 py-2 rounded-md text-base font-medium']" :aria-current="item.current ? 'page' : undefined">
             {{ item.name }}
          </DisclosureButton>
        </div>
      </DisclosurePanel>
    </Disclosure>
  </div>
</template>

<script>
import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { BellIcon, MenuIcon, XIcon } from '@heroicons/vue/outline'


import { RouterLink, RouterView } from 'vue-router'


const navigation = [
  { name: 'Acasa', href: '#', current: true },
  { name: 'Echipa', href: '#', current: false },
  { name: 'Digital Dentistry', href: '#', current: false },
  { name: 'Servicii', href: '#', current: false },
  { name: 'Pentru Pacienti', href: '#', current: false },
  { name: 'Contact', href: '#', current: false },
  { name: 'Urgente', href: '#', current: false },
]
const userNavigation = [
  { name: 'Your Profile', href: '#' },
  { name: 'Settings', href: '#' },
  { name: 'Sign out', href: '#' },
]

export default {
  components: {
    Disclosure,
    DisclosureButton,
    DisclosurePanel,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    BellIcon,
    MenuIcon,
    XIcon,
  },
  setup() {
    return {

      navigation,
      userNavigation,
    }
  },
}
</script>