  <script setup>
  defineProps({
    textTitle: String,
    textParagraph: String,
    textBtn: String
  })


</script>

<template>
    <h3 class="text-xl md:text-3xl text-blue font-rubik my-4 md:my-10 ">{{ textTitle }}</h3>
    <p class="font-rubik text-base text-black2 lg:text-base">
      {{ textParagraph }}
    </p>
    <button class="text-blue text-xl sm:text-xl lg:text-base border-2 text-center rounded-round leading-4 p-3 my-10 hover:bg-green duration-700 hover:text-white" >{{ textBtn }}</button>
</template>