<script setup>
  import ServicesImg from '@/components/ServicesImg.vue'
  import ServicesText from '@/components/ServicesText.vue'

</script>

<template>
  <div class="max-w-5xl mx-auto">
    <h1 class="text-2xl sm:text-4xl lg:ml-16 ml-5 xl:ml-0 text-blue font-rubik mb-10"> Serviciile de Stomatologie Prolident Cluj </h1>

    <div class="xl:grid xl:grid-cols-2 flex flex-col mb-10">
      <div class="w-11/12 mx-auto xl:m-0">
        <ServicesImg :imgSrc="'/src/assets/img/Estetica-Dentara.jpg'" />
      </div>
      <div class="xl:ml-5 lg:ml-16 ml-5">
        <ServicesText
          textTitle="Estetica Dentara"
          textParagraph="Armonia dintre zambet si caracteristicile fetei reprezinta un criteriu obligatoriu in orice refacere a dintilor. Pe langa culoare si aspect, incadrarea in caracteristicile fetei este obligatorie pentru un rezultat optim. Opteaza pentru o igienizare dentara la clinica noastra din Cluj."
          textBtn="Vreau un zambet mai frumos"
        />
      </div>
    </div>

    <div class="xl:grid xl:grid-cols-2 flex flex-col-reverse mb-10">
      <div class="w-11/12 xl:ml-0 lg:ml-16 ml-5">
        <ServicesText
          textTitle="Ortodontie"
          textParagraph="Alinierea estetica a dintilor cu aparate aduce atat un beneficiu armoniei dento-faciale cat si functiei. Pacientii nostri se bucura atat de un zambet mai sanatos, dar si de o masticatie eficienta si lipsa durerilor articulare."
          textBtn="Afla mai multe"
        />
      </div>
      <div class="w-11/12 xl:ml-5 mx-auto">
        <ServicesImg :imgSrc="'/src/assets/img/Ortodontie.jpg'" />
      </div>
    </div>

    <div class="xl:grid xl:grid-cols-2 flex flex-col mb-10">
      <div class="w-11/12 mx-auto xl:m-0">
        <ServicesImg :imgSrc="'/src/assets/img/Stomatologie-Ped.jpg'" />
      </div>
      <div class="xl:ml-5 lg:ml-16 ml-5">
        <ServicesText
          textTitle="Stomatologie pediatrica"
          textParagraph="Ingrijirea dintilor trebuie facuta inca de la aparitia dintilor de lapte. Dentistii nostri sunt pregatiti sa va ajute in urmarirea cresterii si dezvoltarii armonioase a dintilor copilului dumneavoastra."
          textBtn="Afla mai multe"
        />
      </div>
    </div>

    <div class="xl:grid xl:grid-cols-2 flex flex-col-reverse mb-10">
      <div class="w-11/12 xl:ml-0 lg:ml-16 ml-5">
        <ServicesText
          textTitle="Implantologie/Chirurgie orala"
          textParagraph="Implantul dentar vine in ajutorul pacientilor pentru a reface dantura si zambetul prin lucrari fixe sau ancorate pentru orice varsta. Specialistii nostri va vor ajuta zambiti cu incredere si sa mancati fara teama."
          textBtn="Afla mai multe"
        />
      </div>
      <div class="w-11/12 xl:ml-5 mx-auto">
        <ServicesImg :imgSrc="'/src/assets/img/Implantologie-Chirurgie.jpg'" />
      </div>
    </div>

    <div class="xl:grid xl:grid-cols-2 flex flex-col mb-10">
      <div class="w-11/12 mx-auto xl:m-0">
        <ServicesImg :imgSrc="'/src/assets/img/Endodontie.jpg'" />
      </div>
      <div class="xl:ml-5 lg:ml-16 ml-5">
        <ServicesText
          textTitle="Endodontie"
          textParagraph="Cauza principala de prezentare in cabinetul dentar este infectia dintilor. Dentistii nostrii in endodontie sunt pregatiti sa salveze orice dinte pentru a mentine sanatatea dintilor dumneavoastra."
          textBtn="Afla mai multe"
        />
      </div>
    </div>
  </div>
</template>

