<template>
  <div class="
    w-full h-40 relative
    before:content-[''] before:bg-team-image before:bg-cover before:bg-no-repeat
    before:bg-center before:bg-fixed before:absolute before:inset-0 before:opacity-40
  ">
    <div class="max-w-screen-xl m-auto">
      <h1 class="
      text-blue text-3xl lg:text-5xl absolut top-32 xl:ml-0 ml-5 font-rubik ">Echipa noastra</h1>
    </div>
  </div>
</template>