<script setup>
import { RouterLink, RouterView } from 'vue-router'
import './index.css'
import HeaderComponent from '@/components/HeaderComponent.vue'
import MenuComponent from '@/components/MenuComponent.vue'
import FooterComponent from '@/components/FooterComponent.vue'

</script>

<template>

  <HeaderComponent />
  <MenuComponent />
  <RouterView />

  <FooterComponent />

</template>

<style>
@import '@/assets/base.css';


</style>
